.mainContainer{
    background-image : url('../../assets/images/login-.png');
    background-size : cover;
    height : -webkit-fill-available;
    /* background-color: whitesmoke; */
}
.card-container{
    margin: 11rem auto;
    
}
.avatar{
    background-image: url('../../assets/images/login-avatar.png');
    background-size: cover;
}
.full-width{
    width: 100%;
}
.form-action{
    margin-top: 15px;
    margin-bottom: 15px;
}

#signUp {
    color:darkblue;
}

#signUp:hover {
    color: brown;
    text-decoration: none;
}