#cardsContainer{
    top: 2rem ;
    display : flex ;
    flex-wrap: wrap;
    margin: 0 auto;
}

#booksCard{
    height : 448px ; 
    /* flex-wrap: wrap; */
    transition: transform .1s ease-in-out; 
    min-width: 350px;
}

#knowMore:hover{
    transform: scale(1.09);
}

#filter{
    /* position: absolute; */
}

#filterAction{
    margin-top: 10px;
}