<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row"  style="justify-content: center">
        <img  *ngIf="isAuthPicAvailable" [src]="profilePic" class="profileImage">
        <img  *ngIf="!isAuthPicAvailable" src="../../assets/images/defaultMenAvatar.png" class="profileImage">
      </div>
      <!-- <div *ngIf="!isAuthPicAvailable" class="row" style="justify-content: center">
        <img src="../../assets/images/defaultMenAvatar.png" class="profileImage">
      </div> -->
    </div>
    <div class="row">
      <div *ngFor="let user of users">
        <div>{{user.username}}</div>
        <div>{{user.email}}</div>
      </div>
    </div>
  </div>
</div>