<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row" style="justify-content: center">
        <img src="{{profilePic}}" class="profileImage">
      </div>
      <div class="row" style="justify-content: center">
        <div class="col-lg-12" *ngFor="let user of users" style="text-align: center">
          <div>{{user.username}}</div>
          <div>{{user.email}}</div>
        </div>
        <!-- <div>Books Issued</div> -->
        <div class="col-lg-7" *ngFor="let books of booksIssued">
          <div style="display: flex;margin-bottom: 5px;">
            <div mat-card-avatar class="avatar"></div>
            <h6>{{books.bookName}}</h6>
          </div>
          <div>
            <h6>Issue Date: {{books.issueDate}}</h6>
            <h6>Return Date:{{books.returnDate}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>