.profileImage{
    width : 250px;
    height: 250px;
    border: 1px transparent solid;
    border-radius: 190px;
    margin-top: 20px;
}

.avatar {
    background-image: url('../../assets/images/icons8-reading-100-2.png');
    background-size: cover;
}