<div cass="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="display: flex">
      <div class="row">
        <div class="col-lg-5">
          <div>
            <img src="{{book.bookDetails.imageLinks}}" style="width: 100%; max-height : 300px;">
          </div>
          <Header>
            <span class="labelForDescription">Title: </span>{{book.bookDetails.title}}</Header>
        </div>
        <div class="col-lg-7">
          <div style="height: 280px">
            <span class="labelForDescription">Description</span>
            <div id="description">{{book.bookDetails.description | slice:0:500}}</div>
          </div>
          <div style="display: flex; justify-content: center">
            <div>
              <button class="bookDetailButtons" mat-raised-button color="accent">Issue</button>
            </div>
            <div>
              <button class="bookDetailButtons" mat-raised-button color="primary" (click)="openEditDialog()"><i class="material-icons">edit</i></button>
            </div>
            <div>
              <button class="bookDetailButtons" mat-raised-button color="warn"  (click)="deleteBook(book.bookDetails.ISBN)"><i class="material-icons">delete</i></button>
              <!-- <div id="deleteBook"><i class="material-icons">delete</i></div> -->
              <!-- <button><i class="material-icons">delete</i></button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>